fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary==2.9.12
pydantic
pydantic-settings
python-dotenv
redis
kafka-python
paho-mqtt
pandas
numpy
scikit-learn
plotly
prometheus-fastapi-instrumentator
python-multipart
python-jose[cryptography]
passlib[bcrypt]
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
httpx
